#formulario{
    border: 2px solid rgb(223, 36, 192);
    width: 300px;
    height: 390px;
    padding: 10px;
    text-align: justify;
    margin: auto;
    font-size: 13pt;
    font-style: italic;
    background-color: black;
    color: white;
}

h2{
    color: rgb(185, 56, 211);
    text-align: center;
    text-decoration: underline;
}

input{
    border-color: rgb(225, 0, 255);
}

button{
    width: 90px;
    margin: 18px;
    padding: 3px;
    border-color: rgb(177, 28, 236);
    font-weight: bold; 
    margin-left: 30px;   
    background-color: #ccc;
}

.tabela{
    border: 1px solid black;
    width: 100%;
    text-align: center;
}

.tabela th{
    font-size: 14pt;
}

.tabela td{
    font-size: 13pt;
}

.tabela td, .tabela th{
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

@media screen and (max-width:780px){
    #formulario{
        width: 270px;
        height: 380px;
        padding: 10px;
    }

    button{
        width: 90px;
        margin: 20px;
    }

    .tabela{
        width: 100%;
        display: block;
        overflow-x: auto;
    }

    .tabela th, .tabela td {
        white-space: nowrap;
    }

}
